body{
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select{
  width:100%;
  height: 35px;
}

img{
  height: 40px;
}

table{
  width: 100%;
  border-collapse: collapse;
  background-color: #fdeef3;
}

th,td{
  border:1px solid #ccc;
  padding:10px;
  vertical-align: top;
}

th{
  text-align: left;
  width: 40%;
}

td{
  width:60%
}

